logs
project/project
project/target
target
tmp
.history
dist
.idea
*.iml
/out
.idea_modules
.classpath
.project
.worksheet
*.sc
RUNNING_PID
.settings
.cache
.target
**/bin
**/.gitignore

src/main/resources/twitter.conf
